<!DOCTYPE html>
<html>
<head>
    <title>Concent</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center">Concent: grant *{{concent_details.name}}* permission</h2>
                <p class="text-center">{{concent_details.description}}</p>
                <h3 class="text-center">Requested scopes</h3>
                <ul>
                    {% for key, value in concent_details.scopes_description.items() %}
                        <li>{{key}} - {{value}}</li>
                    {% endfor %}
                </ul>
                <form method="post" action="/authentication/consent">
                    <input type="hidden" name="client_id" value="{{ request_data.client_id }}">
                    <input type="hidden" name="client_secret" value="{{ request_data.client_secret }}">
                    <input type="hidden" name="scope" value="{{ request_data.scope }}">
                    <input type="hidden" name="response_type" value="{{ request_data.response_type }}">
                    <input type="hidden" name="state" value="{{ request_data.state }}">
                    <input type="hidden" name="code_challenge" value="{{ request_data.code_challenge }}">
                    <input type="hidden" name="client_redirect_uri" value="{{ request_data.client_redirect_uri }}">
                    <button type="submit" class="btn btn-primary" name="consented" value="true">Accept</button>
                    <button type="submit" class="btn btn-danger" name="consented" value="false">Decline</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>