<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center">Login</h2>
                <form method="post" action="/login">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="totp_pin">totp pin (Authentication App):</label>
                        <input type="text" class="form-control" id="totp_pin" name="totp_pin">
                    </div>
                    <input type="hidden" name="client_id" value="{{ request_data.client_id }}">
                    <input type="hidden" name="client_secret" value="{{ request_data.client_secret }}">
                    <input type="hidden" name="scope" value="{{ request_data.scope }}">
                    <input type="hidden" name="response_type" value="{{ request_data.response_type }}">
                    <input type="hidden" name="state" value="{{ request_data.state }}">
                    <input type="hidden" name="code_challenge" value="{{ request_data.code_challenge }}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>